language: go

sudo: false

go:
  - 1.8
  - tip

services:
  - memcached
  - redis-server

addons:
  apt:
    packages:
      - graphicsmagick

install: go get -v -d -t ./...

script: make

after_success:
  - bash <(curl -s https://codecov.io/bash) -f build/coverage.txt
